.field-container {
  margin: 16px 0;
}

main {
  max-width: 1200px;
  margin: auto;
}

table {
  border: 1px solid black;
  margin: 8px 0;
}

table td,
th {
  border-top: 1px solid black;
  border-right: 1px solid black;
  padding: 4px;
}
